.battery,.battery-charging,.battery-critical{
    @extend .sbutton;
}
.battery-charging{
    background-color: $green;
    color: $inverted;
    &:hover{
        background-color: fade($green);
    }
}
.battery-critical{
    background-color: $red;
    color: $inverted;
    &:hover{
        background-color: fade($red);
    }
}

.battery-circle-critical,.battery-circle-low,.battery-circle-medium,.battery-circle-high{
    @extend .circle; 
    label {
        margin: 4rem;
    }
}
.battery-circle-critical{
    color: $red;
}
.battery-circle-low{
    color: $orange;
}
.battery-circle-medium{
    color: $yellow;
}
.battery-circle-high{
    color: $green;
}
