# vim: ft=swayconfig


for_window [app_id="gamescope"] move window to workspace number 10
for_window [title="^Minecraft.*"] move window to workspace number 10

# float
for_window [app_id="zenity"] floating enable
for_window [app_id="valent"] floating enable
for_window [app_id=".*blueman.*"] floating enable
for_window [app_id="pavucontrol"] floating enable
for_window [app_id="org.pipewire.Helvum"] floating enable
for_window [app_id="nm-connection-editor"] floating enable
for_window [app_id="nwg-icon-picker"] floating enable, resize set 300px 400px
