@import "../../eww/style/color.scss";

$lbg1: $snow0;
$lbg2: mix($snow2, $polar3, 90);
$lbg3: mix($snow2, $polar3, 80);
$lfg1: $polar0;
$lfg2: $polar3;

$dbg1: $polar0;
$dbg2: $polar2;
$dbg3: $polar3;
$dfg1: $snow0;
$dfg2: $snow2;
