@import "./colors.scss";

html,body,#__next,main {
  min-height: 100vh;
  margin: 0;
}

:root {
  --foreground-color: #{$lfg1};
  --background-color: #{$lbg1};
  --border-color: #{$lbg2};
}

body {
  --secondary-background-color: #{$lbg1};
}

[data-theme="dark"] {
  --foreground-color: #{$dfg1};
  --background-color: #{$dbg1};
  --border-color: #{$dbg2};
  --secondary-background-color: #{$dbg1};
}

main {
  background-color: var(--secondary-background-color);
}

#toggle-theme {
  float: left;
  vertical-align: middle;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

#toggle-theme input,
#toggle-theme span {
  vertical-align: middle;
}

#page-ctn {
  margin: 0 auto;
  max-width: 70%;
  color: var(--foreground-color);
}

#page-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--background-color);
  line-height: 24px;
  font-family: "Torus Pro", "Torus", "Cantarell", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#page-header svg {
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  fill: currentColor;
}

#page-header h3 {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 600;
}

