$polar0: #2E3440;
$polar1: #3B4251;
$polar2: #434C5E;
$polar3: #4C566A;
$polar4: #616E88;

$snow0: #eceff4;
$snow1: #e4e9f0;
$snow2: #d8dee9;

$teal: #8FBCBB;
$cyan: #88C0D0;
$lblue: #81A1C1;
$dblue: #5E81AC;

$magenta: #B48EAD;
$pink: mix($magenta, $snow2);
$purple: mix($magenta, $dblue);
$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;

@import "./light.scss";

$accent: $teal;
$error: $red;
$warn: $orange;
$good: $green;
$special: $pink;

@function fade($color) {
    @return mix($color, $polar3, 70)
}

@define-color bg0 #{$bg0};
@define-color bg1 #{$bg1};
@define-color bg2 #{$bg2};
@define-color bg3 #{$bg3};
@define-color fg0 #{$fg0};
@define-color fg1 #{$fg1};
@define-color fg2 #{$fg2};
@define-color teal #{$teal};
@define-color cyan #{$cyan};
@define-color lblue #{$lblue};
@define-color dblue #{$dblue};
@define-color magenta #{$magenta};
@define-color purple #{$purple};
@define-color pink #{$pink};
@define-color red #{$red};
@define-color orange #{$orange};
@define-color yellow #{$yellow};
@define-color green #{$green};
