.floating-bar{
    box-shadow: unset;
    background-color: $bg1;
}
windowcontrols .close image:hover, .titlebutton.close:hover{
    background-color: fade($red);
}
// doesnt cause too many issues for now and fixes g4music
.navigation-sidebar {
		background-color: transparent;
}
.dialog placessidebar, dialog placessidebar { //get rid of the mistmatching colors in filepicker
background-color: unset
}

toast{
    background-color: $bg;
    color: $fg;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
}

// .osd {
//     background-color: $bg0;
//     color: $fg;
//     &:hover{
//         background-color: $bg2;
//     }
//     box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
//
// }
