#NautilusPathBar{
    background-color: $bg1;
    &:backdrop{
        background-color: $bg1;
    }
}
#NautilusQueryEditor {
    background-color: $bg1;
}
// sidebar transparency
// window.nautilus-window {
//     background: none;
//     .sidebar-pane{
//         background-color: rgba($bg1, 0.8);
//     }
//     .content-pane{
//         background-color: $bg;
//     }
// }
