#NautilusPathBar{
    background-color: $bg1;
    &:backdrop{
        background-color: $bg1;
    }
}
#NautilusQueryEditor {
    background-color: $bg1;
}
// sidebar transparency
// window.nautilus-window {
//     background: none;
//     .sidebar-pane{
//         background-color: rgba($bg1, 0.8);
//     }
//     .content-pane{
//         background-color: $bg;
//     }
// }

// fix weird border
window.nautilus-window rubberband {
    background-color: rgba($accent, 0.2);
    border: 1px solid $accent;
}

.nautilus-list-view columnview > listview > row:selected,
.nautilus-grid-view gridview > child:selected {
    box-shadow: unset;
    background-color: rgba($accent, 0.1);
}
.nautilus-list-view columnview > listview > row.activatable:hover,
.nautilus-grid-view gridview > child:selected {
    box-shadow: unset;
    border: unset;
}
