$radius: 12px;
$small: 0px 5px 0px 3px;
$large: 2px 12px 2px 9px;
$xlarge: 2px 17px 2px 13px;

@import "../style/general.scss"

.icon{
    margin-right: 1rem;
}


.window{
    background-color: $bg;
    border-radius: $rounding-large;
    // border: 2px solid mix($pink, $polar3, 60);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;

}
.header{
    background-color: $bg1;
    border-radius: 24px 24px 0px 0px;
    padding: 0.2rem;

}
.footer{
    background-color: $bg1;
    border-radius: 0px 0px 24px 24px;
    padding: .6rem;
}
.footer_text{
    color: $fg0;
    padding: $padding-std;
}
.sidebar{
    background-color: $bg1;
    border-top: 2px solid $bg2;
    border-radius: 0px 0px 0px 24px;
    padding: .6rem;
}
.sidebar_extension{
    background-color: $bg1;
    border-top: 2px solid $bg2;
    padding: .6rem;
}
.section_selector{
    background-color: $bg1;
    border-top: 2px solid $bg2;
    border-radius: 0px 0px 24px 24px;
    padding: .3rem;
    margin-bottom: 1.1rem;
}

.section_box{
    border-radius: 12px;
    // margin-left: 4px;
    // margin-right: 4px;
}
.section_inside{
    margin: 4px;
}


.card{
    background-color: $bg0;
    border-radius: 12px;
    margin: .5rem 1rem .5rem 1rem;
    // border: 2px solid $bg3;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
}

.wallpaper{
    background-color: $bg0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    margin: .5rem 1rem .5rem 1rem;
    border-radius: $rounding-small;
}
.card_footer{
    background-color: $bg1;
    border-radius: 0px 0px 12px 12px;
    padding: .5rem;
}
.wallpaper_label,.card-label{
    @extend .heading;
    font-size: 1.4rem;
}
.display,.display-active{
    background-color: $bg1;
    border-radius: $rounding-small;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    &:hover{
        background-color: $bg3;
    }
}
.display-active{
    border: 2px solid $accent;
}

.selector{
    background-color: $bg3;
    border-radius: 12px;
    padding: 0px 16px 0px 12px;
    border: 2px solid $bg3;
}

.test_area,.test_area-right,.test_area-left,.test_area-middle,.test_area-up,.test_area-down{
    background-color: $bg1;
    min-width: 4rem;
    min-height: 16rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    margin: 1rem;
    border-radius: $rounding-small;
}
.test_area-right{
    border-right: 1rem solid $red;
}
.test_area-left{
    border-left: 1rem solid $red;
}
.test_area-middle{
    border-right: 1rem solid $red;
    border-left: 1rem solid $red;
}
.test_area-up{
    border-bottom: 1rem solid $green;
}
.test_area-down{
    border-top: 1rem solid $yellow;
}
