$radius: 12px;
$small: 0px 5px 0px 3px;
$large: 2px 12px 2px 9px;
$xlarge: 2px 17px 2px 13px;

@import "../style/general.scss"



.window{
    background-color: $bg;
    border-radius: $rounding-large;
    // border: 2px solid mix($pink, $polar3, 60);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    min-height: 45rem;
    min-width: 60rem;


}
.header{
    background-color: $bg1;
    border-radius: 24px 24px 0px 0px;
    padding: 0.2rem;

}
.footer{
    background-color: $bg1;
    border-radius: 0px 0px 24px 24px;
    padding: .6rem;
}
.footer_text{
    color: $fg0;
    padding: $padding-std;
}
.sidebar{
    background-color: $bg1;
    border-top: 2px solid $bg2;
    border-radius: 0px 0px 0px 24px;
    padding: .6rem;
}
.sidebar_extension{
    background-color: $bg1;
    border-top: 2px solid $bg2;
    padding: .6rem;
}
.section_selector{
    background-color: $bg1;
    border-top: 2px solid $bg2;
    border-radius: 0px 0px 24px 24px;
    padding: .3rem;
    margin-bottom: 1.1rem;
}

.section_box{
    border-radius: 12px;
    // margin-left: 4px;
    // margin-right: 4px;
}
.section_inside{
    margin: 4px;
}


.card,.card-no_shadow{
    background-color: $bg0;
    border-radius: 12px;
    margin: .5rem 1rem .5rem 1rem;
    // border: 2px solid $bg3;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
}
.card-no_shadow{
    box-shadow: unset;
}

.wallpaper{
    background-color: $bg0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    margin: .5rem 1rem .5rem 1rem;
    border-radius: $rounding-small;
}
.card_footer{
    background-color: $bg1;
    border-radius: 0px 0px 12px 12px;
    padding: .5rem;
}
.wallpaper_label,.card-label{
    @extend .heading;
    font-size: 1.4rem;
}
.display,.display-active{
    background-color: $bg2;
    border-radius: $rounding-small;
    margin: 1rem;
    // margin-bottom: 2rem;
    &:hover{
        background-color: $bg3;
    }
    label {
        color: $fg;
    }
}
.display-active{
    border: 2px solid $accent;
}

.selector{
    background-color: $bg3;
    border-radius: 12px;
    padding: 0px 16px 0px 12px;
    border: 2px solid $bg3;
}

.test_area,.test_area-secondary,.test_area-primary,.test_area-middle,.test_area-up,.test_area-down{
    background-color: $bg1;
    min-width: 4rem;
    min-height: 16rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    margin: 1rem;
    border-radius: $rounding-small;
}
.test_area-secondary{
    background: linear-gradient(to left, $orange, $bg1)
}
.test_area-primary{
    background: linear-gradient(to right, $red, $bg1)
}
.test_area-middle{
    // background: linear-gradient(to right, $red, $orange)
    background: radial-gradient(circle at center, $special, $bg1)
}
.test_area-up{
    background: linear-gradient(to top, $green, $bg1)
}
.test_area-down{
    background: linear-gradient(to bottom, $yellow, $bg1)
}
.scroll-disks{
    min-height: 34rem;
    min-width: 31rem;
}

