@import "../style/general.scss";


.clock{
    padding: .3rem 1rem .3rem .7rem;
    background-color: $bg2;
    border-radius: $rounding-small;
    margin: .5rem;
    color: $fg;
    &:hover{
        background-color: $bg3;
    }
}

.popup_box,.popup_box_padded,.popup_box-sc{
    background-color: $bg0;
    border-radius: 1.2rem;
    min-height: 3rem;
  	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
    margin: 1rem;
}
.popup_box-sc{
    min-width: 32rem;
    min-height: 24rem;
}
.popup_box_padded{
    padding: .5rem;
}
.padded_box{
    padding: .5rem;
}
.padded_box_large{
    padding: .8rem;
    margin: .5rem;
}

.popup_footer,.popup_header{
    background-color: $bg1;
    padding: .5rem;

}
.popup_header{
    border-radius: 1.2rem 1.2rem 0rem 0rem;

}
.popup_footer{
    border-radius: 0rem 0rem 1.2rem 1.2rem;

}

.list_item, .list_item-active, .list_item-urgent{
    padding: .3rem 1rem .3rem .7rem;
    background-color: $bg2;
    border-radius: $rounding-small;
    margin: .3rem;
    color: $fg0;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover{
        background-color:  $bg3;
    }
    &:active{
        background-color: $accent;
        color: $inverted;
    }
}
.list_item-active{
    background-color: $accent;
    color: $inverted;
    &:hover{
        background-color: fade($accent)
    }
}
.list_item-urgent{
    background-color: $light-red;
    color: $inverted;
    &:hover{
        background-color: fade($light-red)
    }
}

.list_button,{
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: $rounding-small;
    background-color: $bg2;
    color: $fg;
    margin: .5rem;
    padding: .3rem .8rem .3rem .7rem;
    &:hover{
        background-color: $red;
        color: $inverted;
    }
}

.section_box{
    margin: .5rem 1rem .5rem 1rem;
    padding: 1rem;
    background-color: $bg1;
    border-radius: $rounding-small;
}
.image_overlay{
    min-width: 22rem;
    min-height: 14rem;
    border-radius: 24px;
}



.screenshot-display,.screenshot-display-active{
    background-color: $bg2;
    border: 2px solid $bg2;
    border-radius: $rounding-small;
    margin: 1rem;
    &:hover{
        background-color: $bg3;
        border: 2px solid $bg3;
    }
    label {
        color: $fg;
    }
}
.screenshot-display-active{
    border: 2px solid $accent;
    background-color: mix($accent, $bg2, 20);
    &:hover{
        background-color: mix($accent, $bg3, 20);
        border: 2px solid $accent;
    }
}

@import "popups/style.scss";
@import "dock/style.scss";

@import "bar/style/core.scss";
@import "bar/style/tray.scss";
@import "bar/style/notif.scss";
@import "bar/style/ws.scss";
@import "bar/style/mpris.scss";
@import "bar/style/battery.scss";
