.tiling_master, .tiling_dwindle {
    @extend .sbutton;
}
.tiling_master {
    background-color: $lblue;
    color: $inverted;
    &:hover {
        background-color: fade($lblue);
    }
}
.tiling_dwindle {
    background-color: $special;
    color: $inverted;
    &:hover {
        background-color: fade($special);
    }
}

.slider-tiling-ratio {
    @extend .slider-small;
    trough {
        min-width: 8rem;
        highlight { background-color: $lblue;}
    }
    margin-left: .5rem;
    
}
