
check {
    border-radius: $rounding-small;
    min-width: 1rem;
    min-height: 1rem;
    background-color: $bg3;
    margin-right: .5rem;

    &:checked{
        background-color: $accent;

    }
}
window {
    decoration {
        // box-shadow: 0 8px 6px -5px rgba(0,0,0,0.5);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;

        background-clip: padding-box;
        margin: 1rem;
        border-radius: $rounding-large;
    }

}
menu {
    background-color: $bg0;
    border-radius: $rounding-large;
    margin: 2rem;
    padding: .5rem;
    padding-top: 1rem;
    
    menu {
        border-radius: $rounding-small;
        padding: .4rem;
        margin: 1rem;
    }

    separator {
        margin: 4px;
        margin-top: .8rem;
        margin-bottom: .8rem;
        min-height: .2rem;
        border-radius: 2rem;
        background-color: $bg1;
    }
    > menuitem {
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: $rounding-small;
        padding: $padding-std;
        color: $fg;

        &:disabled{
            color: $bg3;
        }
        &:hover {
            background-color: $bg1;
        }
    }

}


menubar {
    > menuitem {
        padding: $padding-std;
        border-radius: $rounding-small;
        background-color: $bg2;
        color: $fg;
        margin: .5rem;
        &:hover{
            background-color: $bg3;
        }
    }
}

arrow.right, arrow.left {
    border-radius: 2rem;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $fg0;
}

