.ws-active, .ws-inactive, .ws-special-active, .ws-special-inactive, .ws-urgent{
    padding: $padding-std;
    border-radius: $rounding-small;
    background-color: $bg2;
    margin: .5rem;
    color: $fg0;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.ws-active{
    background-color: $accent;
    color: $inverted;
    &:hover{
        background-color: fade($accent)
    }
}
.ws-special-inactive{
    border-left: 2px solid $special;
    &:hover{
        background-color: $bg3;
    }
}
.ws-special-active{
    border-left: 2px solid $special;
    background-color: $special;
    color: $inverted;
    &:hover{
        background-color: fade($special);
    }
}
.ws-urgent{
    background-color: $light-red;
    color: $inverted;
    &:hover{
        background-color: fade($light-red)
    }
}
.ws-inactive:hover{
    background-color: $bg3;
}


.winctrl {
    color: $fg0;
    margin: .2rem;
    padding: .1rem .55rem .1rem .5rem;
    border-radius: 12px;
    &:hover {
        background-color: $bg3;
    }
}
