@import "../sway/eww/style/color.scss";

* {
    font-family: "Torus Pro", "Torus", "Cantarell";
    font-weight: 600;
    font-size: 14px;
}

button {
    min-height: 1rem;
}

$trans: background-color 0.3s ease, color 0.3s ease;
$radius: 1rem;
$popup_shadow: rgba(0,0,0,0.5) 0px 2px 4px;

window {
    decoration {
        // box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
        background-clip: padding-box;
        border-radius: $radius;

    }
}
.close-button{
    all: unset;
    background: $bg2;
    color: $fg0;
    border-radius: 100%;
    margin: 5px;
    min-width: 24px;
    min-height: 24px;
    transition: $trans;
    margin-right: 1.2rem;
    margin-top: 1.2rem;

    &:hover {
        background-color: $red;
    }
}
.notification-background{
    all: unset;
}

.notification {
    border: unset;
    margin: .8rem;
    box-shadow: $popup_shadow;
    border-radius: $radius;
    transition: $trans;
    background-color: $bg0;
    color: $fg0;
}

.notification-default-action {
    all: unset;
    color: $fg0;
    border-radius: $radius;
    padding: 8px;
    &:hover{
        background-color: $bg1;
    }
    &:not(:only-child) {
        border-radius: $radius $radius 0 0;
    }

}

.notification-content{
    color: $fg0;
    background-color: transparent;
    border-radius: $radius;
    margin: 8px;

    .image {
        border-radius: $radius;
        margin-right: .6rem;
        color: $fg0;
    }
    .app-icon{
        -gtk-icon-effect: none;
        -gtk-icon-shadow: 0 1px 4px black;
        margin: .4rem;
        color: $fg0;
    }
    .summary{
        color: $fg0;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: .2rem;
    }
    .time{
        margin-right: 30px;
        color: $fg2;
    }
    .body{
        color: $fg0;

    }

    progressbar {
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
    .body-image {
        color: $fg0;
        margin-top: .3rem;
        background-color: $bg0;
        border-radius: $radius;
    }
    #inline-reply-box{
        background-color: $red;
    }
    .inline-reply {
        all: unset;
        margin-top: .5rem;
        .inline-reply-entry{
            all: unset;
            border-radius: 12px;
            min-height: 2.85rem;
            background-color: $bg1;
            color: $fg0;
            caret-color: $fg0;
            border: 2px solid $bg3;
            padding:  .07rem 1.15rem .07rem .85rem;
            &:focused{
                border: 2px solid fade($accent);
            }
            selection{
                color: $inv;
                background-color: $accent;
            }
            label {
                color: $fg0;
            }
        }
        .inline-reply-button {
            all: unset;
            padding:  .07rem 1.15rem .07rem .85rem;
            border-radius: 12px;
            color: $inv;
            margin-left: 1rem;
            background-color: $accent;
            transition:  $trans;
            &:hover{
                background-color: fade($accent);
            }
            &:disabled{
                background-color: initial;
                color: $fg0;
            }
        }
    }
}

.notification-action {
    all: unset;
    transition: $trans;
    margin: 0;
    background-color: transparent;
    padding: 1rem;
    background-color: $bg0;
    border-radius: 0;
    border-top: 1px solid $bg2;
    border-right: 1px solid $bg2;
    &:first-child {
        border-bottom-left-radius: $radius;
    }
    &:last-child {
        border-bottom-right-radius: $radius;
        border-right: none;
    }
    &:hover{
        background-color: $bg2;
    }
    color: $fg0;

}

.control-center {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
    background-color: $bg0;
    margin: unset;
    margin: 1rem;
    margin-right: 0;
    border-radius: $radius;
    color: $fg0;
        .notification {
            &:focus{
                all: unset;
            }
        }
    .control-center-list {
        all: unset;
        background: transparent;
    }
}

.notification-row{
    background-color: unset;
}
.notification-group {
}
.notification-group-headers {
    margin: 0 1.2rem;
    .notification-group-icon {
        color: $fg0;
        background-color: $bg0;
    }
    .notification-group-header {
        color: $fg0;
        background-color: $bg0;
    }
}
.notification-group-buttons > button {
    min-height: 1.5rem;
    background-color: $bg2;
    color: $fg0;
    transition: $trans;
}
.notification-group-collapse-button {
    &:hover {
        background-color: $bg3;
    }
}
.notification-group-close-all-button {
    &:hover {
        background-color: unset;
        background-color: $red;
        color: $inv;
    }
}

.activatable {
    &:focus{
        background-color: rgba($accent, 0.2);
    }
}



.widget-dnd{
    color: $fg0;
    label {font-size: 1.5rem;}
    margin: .5rem;
    > switch {
        border-radius: $radius;
        background-color: $bg2;
        border: 1px solid $bg3;
        slider {
            background-color: $snow0;
            border-radius: $radius;

        }
        &:checked {
            background-color: $accent;
        }
    }
}

.widget-mpris{
    .widget-mpris-player {
        padding: .5rem;
        padding: 1rem;
        margin: 1rem 1.5rem;
        background-color: rgba($bg0, 0.7);
        border-radius: $radius;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
    }
    .widget-mpris-album-art {
        box-shadow: unset;
        border: 2px $bg2;
    }

    button {
        color: $fg0;
        &:hover {
            background-color: #{rgba($bg0, 0.6)};
        }
        &:disabled{
            color: $fg2;
        }
    }

    .widget-mpris-title{
        font-weight: bold;
        font-size: 1.5rem;
    }
    .widget-mpris-subtitle{
        font-size: 1.1rem;
    }
}

.widget-title {
    color: $fg0;
    label{
        font-size: 1.5rem; 
        font-weight: bold;
    }
    > button {
        all: unset;
        color: $fg0;
        background-color: $bg2;
        transition: $trans;
        padding: 0.07rem 1.15rem 0.07rem 0.85rem;
        border-radius: $radius;

        &:hover {
            background-color: fade($error);
            color: $inv;
        }

    }


}

.widget-volume {
    background-color: $bg0;
    box-shadow: $popup_shadow; 
    > box > button {
        transition: $trans;
        &:hover {
            background-color: $bg1;
        }
    }
}


.floating-notifications {
    background: transparent;
    .overlay-indicator.left.vertical {
        all: unset;
        slider {all: unset;}

    }

    .notification {
    }
}

.blank-window{
    all: unset;
    background: transparent;
}
