.mpris-playing, .mpris-paused, .mpris-stopped, .mpris-name {
    @extend .button;
}

.mpris-playing {
    background-color: $pink;
    color: $inv;
    &:hover {
        background-color: fade($pink);
    }
}
