.battery-circle-critical { @extend .circle; color: $red; }
.battery-circle-low { @extend .circle; color: $orange; }
.battery-circle-medium { @extend .circle; color: $yellow; }
.battery-circle-high { @extend .circle; color: $green; }
.wifi-circle { 
    @extend .circle; 
    color: $teal; 
    label {
        margin: 1.6rem 1.6rem 1.3rem 1.1rem;
        font-size: 1.6rem;
    }
}

.right-panel {
    @extend .popup-win;
    margin-top: 2rem;
    border-radius: 18px;
}
