.config-panel {
    background-color: $bg0;
    border-radius: 12px 0px 0px 12px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
    margin: 8px 0px 8px 20px;
}

.circle {
    border-radius: 50%;
    background-color: $bg2;
    margin-left: 0.8rem;
    box {
        margin: 5rem 5rem 3.4rem 5rem;
    }
    label {
        margin: 1.2rem 1.2rem 1.6rem 1.4rem;
        font-size: 1.5rem;
    }

}

.battery-circle-critical { @extend .circle; color: $red; }
.battery-circle-low { @extend .circle; color: $orange; }
.battery-circle-medium { @extend .circle; color: $yellow; }
.battery-circle-high { @extend .circle; color: $green; }
.wifi-circle { 
    @extend .circle; 
    color: $teal; 
    label {
        margin: 1.2rem 1.2rem 1.1rem 1.0rem;
        font-size: 1.3rem;
    }
}
