.perf-scale {
    trough {
        all: unset;
        min-height: .5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: .4rem;
        border-radius: 12px;
        background-color: $bg3;
        min-width: 12rem;
        highlight {
            border-radius: 12px;
            background-color: $accent;
        }
    }
}

.perf-label {
    @extend .text;
    margin-top: .6rem;
    margin-left: 2.2rem;
}

.perf-scale-critical, .perf-scale-hot, .perf-scale-warm, .perf-scale-normal, .perf-scale-cool, .perf-scale-mem, {
    @extend .perf-scale;
}

.perf-scale-critical trough highlight { background-color: $red; }
.perf-scale-hot trough highlight { background-color: $orange; }
.perf-scale-warm trough highlight { background-color: $yellow; }
.perf-scale-normal trough highlight { background-color: $green; }
.perf-scale-cool trough highlight { background-color: $teal; }

.perf-scale-net-up {
    @extend .perf-scale;
    trough highlight {
        background-color: $dblue;
    }
}

.perf-scale-net-down {
    @extend .perf-scale;
    trough highlight {
        background-color: $lblue;
    }
}

.perf-icon-critical{ color: $red; }
.perf-icon-hot{ color: $orange; }
.perf-icon-warm{ color: $yellow; }
.perf-icon-normal{ color: $green; }
.perf-icon-cool{ color: $teal; }
