@import "../../style/color.scss";

* {
    all: unset;
    font-family: "Torus Pro", "Torus", "Cantarell";
    font-weight: 600;
    font-size: 14px;
}

.button {
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.07rem 1.15rem 0.07rem 0.85rem;
    border-radius: 12px;
    margin: 0.4rem;
    min-height: 1.85rem;
    background-color: $bg1;
    color: $fg0;
    &:hover {
        background-color: $bg2;
    }

    &.simple {
        padding: unset;
        margin-right: .9rem;
        &:hover {
            background-color: unset;
            color: $bg3;
        }
    }
}

.sbutton {
    @extend .button;
    background-color: $bg2;
    &:hover {
        background-color: $bg3;
    }
}

.rbutton {
    @extend .button;
    border-radius: 50%;
    padding: 6px 14px;
}

.tiny-button {
    color: $fg0;
    border-radius: 50%;
    padding: 0.07rem 0.6rem 0rem 0.65rem;
    margin-left: .1rem;
    margin-right: .1rem;
    &:hover {
        background-color: $bg2;
    }
}

.active {
    background-color: $accent;
    color: $inv;
    &:hover {
        background-color: fade($accent);
    }
}

.inactive {
    color: $bg3;
}

.alert {
    background-color: $red;
    color: $inv;
    &:hover {
        background-color: fade($red);
    }
}

.text {
    color: $fg0;
}
.text-tiny {
    color: $fg0;
    font-size: 12px;
}

.bar-text {
    @extend .text;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cbutton {
    @extend .button;
    min-height: 2.5rem;
}

.dual-cbutton {
    > button {
        transition: background-color 0.3s ease, color 0.3s ease;
        min-height: 2.5rem;
        color: $fg0;
        background-color: $bg1;
        &:hover {
            background-color: $bg2;
        }
    }
    &.active {
        > button {
            color: $inv;
            background-color: $accent;
            &:hover {
                background-color: fade($accent);
            }
        }
        all: unset;
    }
    > :first-child {
        border-radius: 12px 0px 0px 12px;
        margin: 0.4rem 0rem 0.4rem 0.4rem;
        padding: 0.07rem 0.8rem 0.07rem 0.85rem;
    }
    > :last-child {
        border-left: 0.6px solid $bg3;
        &.active {
            border-color: mix($bg3, $accent);
        }
        border-radius: 0px 12px 12px 0px;
        margin: 0.4rem 0.4rem 0.4rem 0rem;
        padding: 0.07rem 1.15rem 0.07rem 0.85rem;
    }
}

.top-bar {
    background-color: $bg0;
}

.title {
    @extend .text;
    margin-top: .8em;
    font-size: 1.2em;
}

.styled-icon{
    color: $fg0;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1rem;
    min-width: 1rem;
}

tooltip{
    background-color: $bg2;
    border-radius: 12px;
    padding: 1rem;
    color: $fg0;
    label{
        color: $fg0;
        font-size: 1rem;
        margin: .2rem;
    }
    decoration {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
        margin: 1rem;
        background-clip: padding-box;
        border-radius: 12px;
    }
}

.card {
    background-color: $bg0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
    border-radius: 12px;
    padding: 0.2rem;
    margin: 0.4rem;
}

.row {
    background-color: $bg0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
    border-radius: 6px;
    padding: 0.2rem;
    margin: 0.4rem;
}

.popup-win {
    background-color: $bg0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
    margin: 1rem;
    margin-top: 4rem;
    padding: 0.4rem;
    border-radius: 24px;
    min-width: 10rem;
    min-height: 4rem;
}

.section {
    background-color: $bg1;
    border-radius: 14px;
    padding: .2rem;
    margin: .4rem;
}

.circle {
    border-radius: 50%;
    background-color: $bg2;
    margin-left: 0.8rem;
    box {
        margin: 5rem 5rem 3.4rem 5rem;
    }
    label {
        margin: 1.2rem 1.2rem 1.2rem 1.4rem;
        font-size: 1.5rem;
    }
}

.side-button {
    background-color: $fg0;
    min-height: 4rem;
    min-width: 4px;
    border-radius: 12px;
    &:hover {
        background-color: $fg2;
    }
}

.ticon {
    &.large {
        padding: 1.6rem 1.6rem 1.3rem 1.1rem;
        font-size: 2.4rem;
    }
    &.medium {
        padding: 1.0rem 1.0rem 0.8rem 0.7rem;
        font-size: 1.3rem;
    }
}

.slider {
    trough {
        all: unset;
        min-height: .5rem;
        margin: 1rem;
        border-radius: 12px;
        background-color: $bg3;
        min-width: 12rem;
        highlight {
            border-radius: 12px;
            background-color: $accent;
        }
    }
}

@import "./modes.scss";
@import "./tray.scss";
@import "./weather.scss";
@import "./performance.scss";
@import "./mpris.scss";
@import "./panel.scss";
@import "./workspace.scss";

check {
    all: unset;

    border-radius: 4px;
    min-width: 1.5rem;
    min-height: 1.5rem;
    background-color: $bg2;
    margin-right: .6rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
        background-color: $bg3;
    }

    &:checked {
        background-color: $accent;
        color: $inv;
        -gtk-icon-source: -gtk-icontheme('object-select-symbolic');
        &:hover {
            background-color: fade($accent);
        }
    }
}
