// light
$bg: $snow0;
$bg0: $snow0;
$bg1: $snow2;
$bg2: mix($snow2, $polar3, 90);
$bg3: mix($snow2, $polar3, 80);

$fg: $polar0;
$fg0: $polar0;
$fg1: $polar1;
$fg2: $polar2;
$fg3: mix($snow2, $polar3);
$inverted: $polar0;

$accent: $dcyan;
$error: $red;
$warn: $orange;
$attention: $yellow;
$good: $green;
$special: $pink;
