@import "../eww/style/color.scss";

window {
    background-image: url("/home/dmx/.config/background/lock");
    background-size: cover;
}

* {
    font-family: "Torus Pro", "Torus";
    font-weight: 500;
    font-size: 16px;
    color: $fg;
}

#window-box{
    padding: 3rem;
    border-radius: 2.2rem;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    background-color: $bg;
}
#error-label{
    background-color: inherit;
    color: $error;

}
#input-field{
    padding: .2rem .6rem .2rem .6rem;
    border-radius: .6rem;
    border: 2px solid $bg3;
    background-color: $bg1;
    color: $fg;
    label{
        color: $fg;
    }
    &:focused{
        border: 2px solid fade($accent);
    }
    caret-color: $fg;
    selection{
        color: $inverted;
        background-color: $accent;
    }
    image{
        color: $fg;
    }
}

#unlock-button{
    background-color: $accent;
    color: $inverted;
    border-radius: .6rem;
}
#clock-label{
    background-color: $bg;
    color: $fg;
    font-size: 6rem;
    font-weight: 800;
}
#poweroff-button, #logout-button, #reboot-button, #suspend-button{
    border-radius: .6rem;
    color: $inverted;
    transition: background-color 0.3s ease, color 0.3s ease;

}
#poweroff-button{
    background-color: $red;
    &:hover{
        background-color: fade($red)
    }
}
#logout-button{
    background-color: $orange;
    &:hover{
        background-color: fade($orange)
    }
}
#reboot-button{
    background-color: $yellow;
    &:hover{
        background-color: fade($yellow)
    }
}
#suspend-button{
    background-color: $green;
    &:hover{
        background-color: fade($green)
    }
}
#powerbar-box{
    background-color: $bg;
    padding: 1.5rem;
    margin: 8rem;
    border-radius: 2rem;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}
