[Desktop Entry]
Name=Sid Meier's Civilization VI
Comment=Play this game on Steam
Exec=env VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/radeon_icd.i686.json:/usr/share/vulkan/icd.d/radeon_icd.x86_64.json steam steam://rungameid/289070
Icon=steam_icon_289070
Terminal=false
Type=Application
Categories=Game;
Keywords=civ6;civ;sid;civilization;
