[Desktop Entry]
Name[ar]=كوها
Name[cs]=Kooha
Name[de]=Kooha
Name[es]=Kooha
Name[eo]=Kooha
Name[eu]=Kooha
Name[fa]=کوها
Name[fi]=Kooha
Name[fil]=Kooha
Name[fr_FR]=Kooha
Name[he]=Kooha
Name[id]=Kooha
Name[it]=Kooha
Name[ja]=Kooha
Name[ko]=쿠하
Name[nb_NO]=Kooha
Name[nl]=Kooha
Name[pl]=Kooha
Name[pt]=Kooha
Name[pt_BR]=Kooha
Name[ru]=Kooha
Name[sk]=Kooha
Name[sr]=Kooha
Name[sr@latin]=Kooha
Name[sv]=Kooha
Name[tr]=Kooha
Name[uk]=Kooha
Name[zh_Hans]=Kooha
Name[hi]=कूहा
Name[gl]=Kooha
Name[oc]=Kooha
Name[hr]=Kooha
Name[hu]=Kooha
Name[da]=Kooha
Name[zh_Hant]=Kooha
Name[et]=Kooha
Name[ta]=கூஹா
Name[bg]=Kooha
Name[el]=Kooha
Name[ca]=Kooha
Name[bqi]=kohā
Name[si]=Kooha
Name[ro]=Kooha
Name=Kooha
Exec=env KOOHA_EXPERIMENTAL=all GST_VAAPI_ALL_DRIVERS=1 kooha
Comment[ar]=سجِّل شاشتك بيُسر
Comment[cs]=Elegantně zaznamenejte svou obrazovku
Comment[de]=Nehme deinen Bildschirm elegant auf
Comment[es]=Grabe su pantalla elegantemente
Comment[eo]=Elegante registri vian ekranon
Comment[eu]=Grabatu zure pantaila dotoretasunez
Comment[fa]=صفحه‌نمایش خود را با ظرافت ضبط کنید
Comment[fi]=Tallenna näyttösi tapahtumat
Comment[fil]=Eleganteng i-record ang iyong screen
Comment[fr_FR]=Enregistrez élégamment votre écran
Comment[he]=הקלט את המסך באלגנטיות
Comment[id]=Rekam layar Anda dengan elegan
Comment[it]=Registra il tuo schermo elegantemente
Comment[ja]=エレガントに画面を記録
Comment[ko]=화면을 우아하게 녹화해보세요
Comment[nb_NO]=Ta opp skjermen din på elegant vis
Comment[nl]=Maak elegante schermopnames
Comment[pl]=Elegancko nagrywaj swój ekran
Comment[pt]=Grave o seu ecrã com estilo
Comment[pt_BR]=Grave sua tela com elegância
Comment[ru]=Записывайте экран элегантно
Comment[sk]=Elegantne zaznamenáva vašu obrazovku
Comment[sr]=Сними екран на елегантан начин
Comment[sr@latin]=Snimi ekran na elegantan način
Comment[sv]=Spela in din skärm på ett elegant sätt
Comment[tr]=Ekranınızı zarif bir şekilde kaydedin
Comment[uk]=Елегантно записуйте ваш екран
Comment[zh_Hans]=优雅地录制屏幕
Comment[hi]=अपनी स्क्रीन को अच्छे ढंग से रिकॉर्ड करें
Comment[gl]=Grave a súa pantalla elegantemente
Comment[oc]=Enregistrar elegantament vòstre ecran
Comment[hr]=Snimi ekran na elegantan način
Comment[hu]=Vegye fel a képernyőjét elegánsan
Comment[da]=Optag din skærm på en elegant måde
Comment[ne]=सुन्दर रूपमा आफ्नो स्क्रिन रेकर्ड गर्नुहोस्
Comment[zh_Hant]=優雅地錄下螢幕內容
Comment[et]=Elegantselt salvesta ekraani
Comment[ta]=உங்கள் திரையை நேர்த்தியாக பதிவு செய்யவும்
Comment[bg]=Лесно записвай своя екран
Comment[el]=Κομψή καταγραφή οθόνης
Comment[ca]=Enregistreu la pantalla elegantment
Comment[bqi]=balge nemāyeš xote be xuvi zaft koň
Comment[si]=හොඳින් තිරය පටිගත කරන්න
Comment=Elegantly record your screen
Type=Application
Terminal=false
Categories=GTK;GNOME;Utility;Recorder;
# Translators: These are search terms to find this application. Do NOT translate or localize the semicolons. The list MUST also end with a semicolon.
Keywords[ar]=تسجيل الشاشة;مسجل;شاشة;فيديو ;
Keywords[cs]=Záznam obrazovky;Rekordér;Zaznamenávač;Obrazovka;Video;
Keywords[de]=Screencast;Rekorder;Aufnahme;Bildschirm;Video;
Keywords[es]=Capturar pantalla;Grabador;Pantalla;Vídeo;
Keywords[eo]=Ekranelsendi;Registrilo;Ekrano;Bildbendo;
Keywords[eu]=Screencast;Grabatzailea;Pantaila;Bideoa;
Keywords[fa]=اسکرین‌کست;ضبط;صفحه‌نمایش;ویدیو;
Keywords[fi]=Screencast;Recorder;Screen;Video;tallennin;nauhoitus;
Keywords[fil]=Screencast;Recorder;Screen;Video;Pangrekord;
Keywords[fr_FR]=Capture d’écran;Enregistrement;Écran;Vidéo;
Keywords[he]=צילום מסך;הקלטה;מסך;וידאו;
Keywords[id]=Screencast;Perekam;Layar;Video;
Keywords[it]=Screencast;Registratore;Schermo;Video;
Keywords[ja]=Screencast;Recorder;Screen;Video;画面録画;画面キャプチャ;録画;キャプチャ;画面;
Keywords[ko]=Screencast;스크린캐스트;생방송;방송;Recorder;레코더;Screen;화면;스크린;Video;비디오;동영상;영상;
Keywords[nb_NO]=Skjermopptak;Opptaker;Skjerm;Video;
Keywords[nl]=Screencast;Recorder;Screen;Video;Opname;Scherm;
Keywords[pl]=Nagrywanie ekranu;Nagrywarka;Ekran;Wideo;
Keywords[pt]=Captura de Tela;Gravador;Tela;Vídeo;
Keywords[pt_BR]=Screencast;Recorder;Screen;Video;Gravação da Tela;Gravador;Tela;Vídeo;
Keywords[ru]=Скринкаст;Запись;Экран;Видео;
Keywords[sk]=záznam;záznamník;rekordér;obrazovka;video;
Keywords[sr]=Видеоснимак екрана;рекордер;екран;видео;
Keywords[sr@latin]=Videosnimak ekrana;rekorder;ekran;video;
Keywords[sv]=Skärmutsändning;Inspelare;Skärm;Video;
Keywords[tr]=Screencast;Recorder;Screen;Video;Ekran kaydı;Kaydedici;Ekran;
Keywords[uk]=Записувач;Екран;Відео;Screencast;Recorder;Screen;Video;
Keywords[zh_Hans]=Screencast;Recorder;Screen;Video;录屏;录制;视频;屏幕;屏幕录制;
Keywords[hi]=Screencast;Recorder;Screen;Video;रिकार्ड;स्क्रीन;वीडीयो;वीडीओ;
Keywords[gl]=Capturar pantalla;Gravador;Pantalla;Vídeo;
Keywords[oc]=videografia;ecran;captura;enregistrar;vidèo;
Keywords[hr]=Videosnimka ekrana;rekorder;ekran;video;
Keywords[hu]=Képernyőfelvétel;Felvevő;Rögzítő;Képernyő;Videó;
Keywords[da]=Screencast;Optag;Skærm;Video;
Keywords[ne]=स्क्रिनकास्ट; रेकर्डर; स्क्रिन; भिडियो;
Keywords[zh_Hant]=Screencast;Recorder;Screen;Video;螢幕錄影;錄影;螢幕;
Keywords[et]=Screencast;Recorder;Screen;Video;ekraanisalvestus;salvestaja;ekraan;
Keywords[ta]=ஸ்கிரீன்காஸ்ட்;ரெக்கார்டர்;திரை;வீடியோ;
Keywords[bg]=Скрийнкаст;Рекордер;Екран;Видео;
Keywords[el]=Μετάδοση;Εγγραφή;Οθόνη;Βίντεο;
Keywords[ca]=Captura de pantalla;Gravadora;Enregistrar;Pantalla;Vídeo;
Keywords[bqi]=eskerin kast;zaft;balge nemāyeš;film
Keywords[si]=Screencast;Recorder;Screen;Video;පටිගත;දෘශ්‍යක;තිරය;
Keywords=Screencast;Recorder;Screen;Video;
Icon=io.github.seadve.Kooha
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
