[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Exec=kitty -- nvim %F -O
Comment=Edit Text in Neovim
Terminal=false
Type=Application
Keywords=Text;editor;nv;nvim;neovim;vim;vi;edit;visual;ed;ex;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
