[Desktop Entry]
Name=Steam Big Picture
Comment=Steam Controller Mode
Exec=env VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/radeon_icd.i686.json:/usr/share/vulkan/icd.d/radeon_icd.x86_64.json steam steam://open/bigpicture
Icon=applications-games
Terminal=false
Type=Application
Keywords=steam,client,store,
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
