* {
  font-family: "Torus Pro", "Torus";
  font-weight: 500;
  font-size: 16px;
  all: unset; }

window {
  background-color: rgba(46, 52, 64, 0.4); }

.search {
  background-color: #3b4252;
  padding: 1rem;
  border-radius: 16px;
  color: #eceff4;
  border: 2px solid #4c566a;
  caret-color: #eceff4; }
  .search:focused {
    border: 2px solid #7b9da3; }
  .search selection {
    color: #2e3440;
    background-color: #8fbcbb; }

#category-button {
  background-color: #3b4252;
  color: #eceff4;
  border-radius: 12px;
  margin: 1rem;
  padding: 0.07rem 1.15rem 0.07rem 0.85rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px; }
  #category-button:hover {
    background-color: #434c5e; }
  #category-button:focus {
    background-color: #8fbcbb;
    color: #2e3440; }

#status-line-wrapper {
  min-height: 2rem; }

#status-label {
  background-color: #2e3440;
  color: #eceff4;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 16px; }

flowboxchild > button {
  padding: .5rem;
  margin: .2rem .4rem .2rem .4rem;
  border-radius: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease; }
  flowboxchild > button:hover {
    background-color: rgba(67, 76, 94, 0.2); }
  flowboxchild > button:focus {
    background-color: rgba(67, 76, 94, 0.2); }
  flowboxchild > button:active {
    background-color: rgba(76, 86, 106, 0.4); }

#files-box button {
  padding: .5rem;
  margin: .5rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
  border-radius: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #2e3440; }
  #files-box button:hover {
    background-color: #434c5e; }
  #files-box button:focus {
    background-color: #434c5e; }
  #files-box button:active {
    background-color: #4c566a; }
