.background-widgets {
    margin: 3rem;
}

.background-time {
    color: $snow0;
    font-size: 8rem;
}

.background-date {
    color: $snow0;
    font-size: 5rem;
}

.background-timer {
    margin-left: 3rem;
    color: $snow0;
    label {
        min-width: 3rem;
        padding: 2.5rem;
        font-size: 1.8rem;
    }

    &.stopwatch {
        color: $yellow;
    }

    > button {
        &:hover {
            background-color: rgba($snow0, 0.1);
        }
    }
}

.background-calendar {
    color: $snow0;
    font-size: 1.3rem;

    &.highlight {
        color: $snow0;
    }
    &.button {
        background-color: unset;
        color: $snow0;
    }
    &:indeterminate {
        color: rgba($snow0, 0.2);
    }
    &:selected {
        background-color: $snow0;
        color: $inv;
        border-radius: 12px;
    }
    &.header {
    }
}
