// colors for my eww shell


// dark
$polar0:    #2e3440;
$polar1:    #3b4252;
$polar2:    #434c5e;
$polar3:    #4c566a;

// light
$snow0:     #eceff4;
$snow1:     #e4e9f0;
$snow2:     #d8dee9;

// blues
$dcyan:     #8fbcbb;
$lcyan:     #88c0d0;
$lblue:     #81a1c1;
$dblue:     #5e81ac;

// the aurora colors
$pink:      #b48ead;
$red:       #bf616a;
$orange:    #d08770;
$yellow:    #ebcb8b;
$green:     #a3be8c;


// custom preferences

// dark
// background colors
$bg: $polar0;
$bg0: $polar0;
$bg1: $polar1;
$bg2: $polar2;
$bg3: $polar3;

// forground colors
$fg: $snow0;
$fg0: $snow2;
$fg1: $snow1;
$fg2: $snow2;
$inverted: $polar0;


$accent: $dcyan;
$error: $red;
$warn: $orange;
$attention: $yellow;
$good: $green;
$special: $pink;



@function fade($color){
    @return mix($color, $bg3, 70)
}

