// dark theme
$bg: $polar0;
$bg0: $polar0;
$bg1: $polar1;
$bg2: $polar2;
$bg3: $polar3;

$fg: $snow0;
$fg0: $snow2;
$fg1: $snow1;
$fg2: $snow2;
$inverted: $polar0;

// $accent: mix($snow2, $yellow);
// $accent: mix($snow2, $dcyan);
$accent: $dcyan;
$error: $red;
$warn: $orange;
$attention: $yellow;
$good: $green;
$special: $pink;

