@define-color blue_1 #96b1cb;
@define-color blue_2 #81a1c1;
@define-color blue_3 #7091b7;
@define-color blue_4 #5e81ac;
@define-color blue_5 #506a8c;
@define-color green_1 #a3be8c;
@define-color green_2 #91bc9d;
@define-color green_3 #93bc7e;
@define-color green_4 #aabf8c;
@define-color green_5 #c0c38c;
@define-color yellow_1 #f5eb5e;
@define-color yellow_2 #f3ec83;
@define-color yellow_3 #efe39c;
@define-color yellow_4 #ebcb8b;
@define-color yellow_5 #e6bd86;
@define-color orange_1 #e0b080;
@define-color orange_2 #d89b78;
@define-color orange_3 #d08770;
@define-color orange_4 #cb7c6e;
@define-color orange_5 #c46c6c;
@define-color red_1 #bf616a;
@define-color red_2 #cc4e55;
@define-color red_3 #d93a40;
@define-color red_4 #b73940;
@define-color red_5 #854f59;
@define-color purple_1 #c6b6cb;
@define-color purple_2 #b48ead;
@define-color purple_3 #a2809c;
@define-color purple_4 #9d66b0;
@define-color purple_5 #8339c5;
@define-color brown_1 #cdab8f;
@define-color brown_2 #b5835a;
@define-color brown_3 #986a44;
@define-color brown_4 #865e3c;
@define-color brown_5 #63452c;
@define-color light_1 #ffffff;
@define-color light_2 #eceff4;
@define-color light_3 #d8dee9;
@define-color light_4 #cad0dc;
@define-color light_5 #bcc3d0;
@define-color dark_1 #4c566a;
@define-color dark_2 #434c5e;
@define-color dark_3 #3b4252;
@define-color dark_4 #2e3440;
@define-color dark_5 #000000;
@define-color accent_color #8fbcbb;
@define-color accent_bg_color #8fbcbb;
@define-color success_color #a3be8c;
@define-color success_bg_color #a3be8c;
@define-color destructive_color #bf616a;
@define-color destructive_bg_color #bf616a;
@define-color error_color #bf616a;
@define-color error_bg_color #bf616a;
@define-color warning_color #d08770;
@define-color warning_bg_color #d08770;
@define-color accent_fg_color #2e3440;
@define-color destructive_fg_color #2e3440;
@define-color success_fg_color #2e3440;
@define-color warning_fg_color #2e3440;
@define-color error_fg_color #2e3440;
@define-color window_fg_color #eceff4;
@define-color view_fg_color #eceff4;
@define-color headerbar_fg_color #eceff4;
@define-color card_fg_color #eceff4;
@define-color dialog_fg_color #eceff4;
@define-color popover_fg_color #eceff4;
@define-color sidebar_fg_color #eceff4;
@define-color secondary_sidebar_fg_color #eceff4;
@define-color thumbnail_fg_color #eceff4;
@define-color window_bg_color #2e3440;
@define-color view_bg_color #2e3440;
@define-color headerbar_bg_color #2e3440;
@define-color card_bg_color #2e3440;
@define-color dialog_bg_color #2e3440;
@define-color popover_bg_color #2e3440;
@define-color sidebar_bg_color #3b4252;
@define-color secondary_sidebar_bg_color #3b4252;
@define-color thumbnail_bg_color #3b4252;
@define-color headerbar_shade_color rgba(0, 0, 0, 0);
@define-color sidebar_shade_color rgba(0, 0, 0, 0);
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0);
@define-color popover_shade_color rgba(0, 0, 0, 0);
@define-color headerbar_backdrop_color #2e3440;
@define-color sidebar_backdrop_color #3b4252;
@define-color secondary_sidebar_backdrop_color #3b4252;
@define-color headerbar_border_color #2e3440;
@define-color shade_color #2e3440;
@define-color card_shade_color #3b4252;
@define-color scrollbar_outline_color rgba(59, 66, 82, 0.7);
tooltip {
  background-color: #3b4252; }

tooltip label {
  font-weight: 600;
  color: #eceff4;
  padding: .3rem; }

.navigation-sidebar {
  background-color: #3b4252; }

#NautilusPathBar {
  background-color: #3b4252; }
  #NautilusPathBar:backdrop {
    background-color: #3b4252; }

#NautilusQueryEditor {
  background-color: #3b4252; }

.floating-bar {
  box-shadow: unset;
  background-color: #3b4252; }

windowcontrols .close image:hover, .titlebutton.close:hover {
  background-color: #9d5e6a; }

.navigation-sidebar {
  background-color: transparent; }

.dialog placessidebar, dialog placessidebar {
  background-color: unset; }

toast {
  background-color: #2e3440;
  color: #eceff4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px; }
